@font-face {font-family: "Shrek";
    src: url("./font/Shrek/shrek.eot"); /* IE9*/
    src: url("./font/Shrek/shrek(iefix).eot") format("embedded-opentype"), /* IE6-IE8 */
    url("./font/Shrek/shrek.woff2") format("woff2"), /* chrome firefox */
    url("./font/Shrek/shrek.woff") format("woff"), /* chrome firefox */
    url("./font/Shrek/shrek.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("./font/Shrek/shrek.svg") format("svg"); /* iOS 4.1- */
}

main
{
	margin-top: 100px;
	color: #03A900;
    font-family: arial,georgia;

}

article {
	display: none;
	margin-left: 3%;
}

h2
{
	display: inline-flex;
	padding: 1% 4%;
	background-color: #eeeeee;
}

.linkshopping {
    margin-top:50px;
    margin-left:100px;
}
table {
    margin-left:100px;
}
table, th, td {
  border: 1px solid black;
}

tr
{
    color:#523213;
}
h1.store_title
{
	position:relative;
	margin-left:100px;
	margin-right:25%;
	font-family: 'Shrek',georgia;
	font-size:50px
}

.checkout
{
color: rgb(255, 255, 255);
font-size: 16px;
line-height: 16px;
padding: 6px;
border-radius: 10px;
font-family: "Arial Black", Gadget, sans-serif;
font-style: oblique;
font-variant: normal;
text-transform: none;
background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
border: 20px ridge rgb(30, 78, 164);
width: 85px;
margin-top: 100px;
margin-left: 100px;
}

.checkout:hover
{
background: #1C6EA4; }

.checkout:active {
background: #144E75; }
}

#events_bar
{
	text-align: center;
	width: 100%;
}

section
{
	border-style: double;
	height: 100px;
	display: inline-block;
	width: 16%;
	padding: 0px 15px;
	    vertical-align: middle;
    position: relative;
}

h3
{
	margin-bottom: 5px;
}
